html, body {
    background-color: #2f323b;
    color: #4e5e6a;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px; 
    -webkit-font-smoothing: antialiased;
    height:100%;
    overflow: hidden;
    overflow-x: hidden;
}
h1, h2, h3, h4{
    font-weight: normal;   
}
h1,h2, h3 {
    margin-top: 10px;
}
h5{
    font-weight: bold;  
}
blockquote{
    background: rgba(242, 242, 242, 0.42);
    font-size: 100%; 
    margin: 0;
}
pre{
    border:none;
    border-radius: 0;
    margin: 0;
}

.invisible{
    visibility: hidden;
}
.navbar-default {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
    border-bottom: 0;
}
.navbar-default .navbar-nav>li>a{
    color:#4e5e6a;
}
.navbar-brand {
    padding: 5px 15px;
    width: 190px;
    margin-right: 10px;
    overflow: hidden;
}
.navbar-toggle{
    color: #1d2632;
    border: none;
    padding:8px 13px;
    margin-right: 10px;
}
.navbar-toggle:hover,
.navbar-toggle:focus{
    background-color: #f2f4f6 !important;
}
.navbar-nav>.open>a,
.navbar-nav>.open>a:hover,
.navbar-nav>.open>a:focus{
    background-color: #f2f4f6 !important;
}

.signin-box{
    max-width: 450px;
    margin: 5% auto;
}

.signin-box .form-control {
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signin-box .input-group-addon{
    padding:6px 15px;
}

a{
    color: #29689e;
}
a:hover,
a:active,
a:focus{
    text-decoration: none;
}
a:active{
    outline: none;
}
a:focus,
.btn:focus{
    outline: none;
}
a.dark{
    color: #4e5e6a;
}
a.dark:hover{
    color: #000;
}
.strong{
    font-weight: bold;
}

#content {
    margin-top: 50px;
    height: 100%;
}

.page-title {
    background:#fff;
    border-bottom: 1px solid rgba(221, 230, 233, 0.48);
    color: #444;
}
.page-title h1 {
    font-size: 20px;
    margin: 0;
    padding: 15px 16px;
    float: left;
}
.page-title h4 {
    padding: 7px 16px;
    float: left;
}

.page-title .btn{
    margin: 10px 5px;
}
.page-title .title-button-group {
    float: right;
    margin: 0px 15px 0px 15px;
}

.border-circle{
    border-radius: 50% !important;
}
.uppercase {
    text-transform: uppercase;
}
.strong{
    font-weight: bold;
}

/*margin and padding*/

.m0{
    margin: 0;
}
.m5{
    margin: 5px;
}
.mt5 {
    margin-top: 5px;
}
.m10{
    margin: 10px;
}
.m15{
    margin: 15px;
}
.m20{
    margin: 20px;
}
.ml15 {
    margin-left: 15px !important;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mr15 {
    margin-right: 15px !important;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mr-1 {
    margin-right: -1px !important;
}
.ml-1 {
    margin-left: -1px !important;
}
.mb0{
    margin-bottom: 0 !important; 
}
.mt50{
    margin-top: 50px !important; 
}
.mt0{
    margin-top: 0 !important; 
}
.mt-5{
    margin-top: -5px;
}
.mt-50{
    margin-top: -50px;
}
.p0 {
    padding: 0 !important;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px !important;
}
.p30 {
    padding: 30px;
}
.pb10{
    padding-bottom:10px; 
}
.pb5{
    padding-bottom:5px; 
}
.pl10{
    padding-left:10px; 
}
.pl15{
    padding-left:15px; 
}
.pr10{
    padding-right:10px; 
}
.pr15{
    padding-right:15px; 
}
.pt10 {
    padding-top: 10px;
}
.pt5 {
    padding-top: 5px !important;
}
.pt0 {
    padding-top: 0px !important;
}
.w50 {
    width: 50px;
}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}
.w125 {
    width: 125px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w300 {
    width: 300px;
}
.min-w150{
    min-width: 150px;
}
.w5p{
    width:5%;
}
.w10p{
    width:10%;
}
.w15p{
    width:15%;
}
.w20p{
    width:20%;
}
.w25p{
    width:25%;
}
.w30p{
    width:30%;
}
.w50p{
    width:50%;
}
.w60p{
    width:60%;
}
.w70p{
    width:70%;
}
.w80p{
    width:80%;
}
.w90p{
    width:90%;
}
.w100p{
    width:100%;
}
.max-w500{
    max-width: 500px;
}
.h100p{
    height:100%;
}

/*avatar*/
.avatar {
    display: inline-block;
    white-space: nowrap;
}
.avatar-lg {
    width: 125px;
    height:125px;
}
.avatar-md {
    width: 80px;
    height: 80px;
}
.avatar-sm {
    width: 50px;
    height: 50px;
}
.avatar-xs {
    width: 30px;
    height: 30px;
}

.avatar img{
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.box {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
.box-content {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
    overflow-x: hidden;
}
.box.fit .box-content{
    width: 100%;
}
.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: default !important;
}

.inline-block{
    display: inline-block;
}
.block{
    display: block;
}

/*sidebar*/
#sidebar-toggle-md {
    padding: 15px 0;
    font-size: 14px;
    border:none;
    outline: none;
    background-color: transparent;
}
#sidebar {
    width: 200px;
    background: #1d2632;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
}
#sidebar.collapsed{
    width: 65px;
}
.collapsed #sidebar-datetime {
    display: none;
}
.collapsed #sidebar-time {
    display: block;
}
#sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
#sidebar-menu li {
    position: relative;
    margin: 0;
}
#sidebar-menu li i {
    position: relative;
    font-size: 15px;
    margin-right: 10px;
}
#sidebar-menu li a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 20px 12px;
    color:#7988a2;
    z-index: 2;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
#sidebar-menu li a i {
    top: 1px;
    display: inline-block;
}
#sidebar-menu li a span {
    -moz-transition: 350ms opacity ease-in-out;
    -o-transition: 350ms opacity ease-in-out;
    -webkit-transition: 350ms opacity ease-in-out;
    transition: 350ms opacity ease-in-out;
}
#sidebar-menu li a:hover {
    background-color:#141C27;
    color:#97b3c7;
}
#sidebar-menu li a .badge {
    position: relative;
    float: right;
    font-size: 11px;
    line-height: 1.3;
}
#sidebar-menu li a .badge.badge-primary {
    top: -1px;
}
#sidebar-menu > li.active > a {
    border-left: 2px solid #ff0000;   
    background-color: #141C27;
    color: #fff;
}
#sidebar-menu > li > ul> .active > a {
    border-left: 2px solid #ff0000;   
    background-color: #141C27;
}
#sidebar-menu > li > ul> .active > a .dot {
    border-left: 3px solid #7988a2;
    visibility: hidden;
    margin-left: -5px;
}
#sidebar-menu > li > ul > li > a:hover {
    background-color: #141C27;
    color: #7988a2;
}
#sidebar-menu li.expand > a:before {
    position: relative;
    content: '\f105';
    display: inline-block;
    font-family: 'FontAwesome';
    color: #7988a2;
    float: right;
    font-size: 11px;
    margin-left: 15px;
    top: 0px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
#sidebar-menu li.expand.open > a:before {
    content: '\f107';
}
#sidebar-menu li ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height:0;
    overflow: hidden;
    z-index: 1;
    -webkit-transition:max-height 300ms ease;
    -moz-transition:max-height 300ms ease;
    -o-transition:max-height 300ms ease;
    transition:max-height 300ms ease;

}
#sidebar-menu li ul.visible {
    display: block;
}
#sidebar-menu li ul > li > a {
    background-color: #141c27;
    padding-left: 25px;
    font-weight: normal;
    font-size: 13px;
}
#sidebar-menu li ul > li > a:hover {
    color: #fff;
}
#sidebar-menu .dot{
    font-size: 5px;
    top: -2px;
    margin-right: 10px;
}
#sidebar-menu .expand.open ul{
    max-height: 1000px;
}
.collapsed #sidebar-menu > li.expand > a:before {
    display: none;
}
/*
.collapsed #sidebar-menu > li.expand > a {
    background-color: transparent;
}
*/
.collapsed #sidebar-menu > li > a {
    position: relative;
}
.collapsed #sidebar-menu > li > a > span:not(.badge) {
    display: block;
    position: absolute;
    top: 0;
    left: 65px;
    margin-top: -1px;
    padding: 10px 10px 14px 10px;
    background: #141c27;
    width: 200px;
    visibility: hidden;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-clip: padding-box;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.collapsed #sidebar-menu > li > a span {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
.collapsed #sidebar-menu > li > a span.badge {
    position: absolute;
    right: -240px;
    top: 10px;
    display: none;
}

.collapsed #sidebar-menu > li > ul {
    display: block;
    visibility: hidden;
    position: absolute;
    height: 0;
    top: auto;
    left: 65px;
    width: 200px;
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    background-clip: padding-box;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.collapsed #sidebar-menu > li > ul > li > a span.badge {
    display: none;
}
.collapsed #sidebar-menu > li > ul li a {
    padding-left: 10px;
}
.collapsed #sidebar-menu > li > ul li a:hover {
    background: #262b34;
}
#sidebar-menu li:hover{
    background-color:#141c27;
}
#sidebar-menu .devider {
    border-bottom: 1px solid #141c27;
}
.collapsed #sidebar-menu > li > ul li li a {
    padding-left: 25px;
}
.collapsed #sidebar-menu > li > ul li li li a {
    padding-left: 40px;
}
/*
.collapsed #sidebar-menu > li.expand:hover.expand > a,
.collapsed #sidebar-menu > li:hover.expand > a {
    cursor: default;
}
*/
.collapsed #sidebar-menu > li.expand:hover.expand > a > span:not(.badge),
.collapsed #sidebar-menu > li:hover.expand > a > span:not(.badge) {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
    background-clip: padding-box;
}

.collapsed #sidebar-menu > li.expand:hover > ul,
.collapsed #sidebar-menu > li:hover > ul {
    max-height: 1000px;
    height: auto;
}
.collapsed #sidebar-menu > li.expand:hover > a > span,
.collapsed #sidebar-menu > li:hover > a > span {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.collapsed #sidebar-menu > li.expand:hover a span.badge,
.collapsed #sidebar-menu > li:hover a span.badge {
    display: block;
}
.collapsed #sidebar-menu > li.expand:hover > ul,
.collapsed #sidebar-menu > li:hover > ul {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#sidebar-menu .badge{
    background-color: #1672b9;
}

.navbar-right i {
    font-size: 15px;
}
.badge.up {
    position: relative;
    top: -10px;
    padding: 3px 6px;
    margin-left: -10px;
}

/*button*/
.btn{
    border-radius: 2px;
    transition:  all 0.5s;
}
.btn:focus,
.btn:active{
    outline: none !important;
}

.btn-default, 
.btn-default:focus, 
.btn-default.active,
.open>.dropdown-toggle.btn-default{
    border-color: #e2e4e7 !important;
}
.btn-default:hover
.btn-default:focus{
    border-color: #e2e7f1;
}

.btn-primary{
    border:none;
    background-color:#000000;
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: #1377cd;
}

.btn-info{
    background-color: #1ccacc;
    border:none;
}
.btn.active, 
.btn.active:focus{
    box-shadow: none;
    background: #f1f1f5;
    cursor: default;
    outline: none;
}
.filter .btn-default:hover{
    background: #fff;
}
.filter .btn-default.active:hover{
    background: #f1f1f5;
}
.btn.round{
    border-radius: 50px;
}
.btn-transparent{
    background-color: transparent;
    border:2px solid;
    color: #fff;
}
.btn-transparent.success:hover{
    background-color: #fff;
    color: #00b393;
    border-color: #fff;
}

.bg-primary .btn-transparent:hover{
    color: #1672b9;  
}


.load-more {
    position: relative;
    border:none;

    width: 100%;
    border-radius: 50px; 
}


/*border*/
.b-a{
    border: 1px solid #f2f4f6 !important;
}
.b-t{
    border-top: 1px solid #f2f4f6;
}
.b-r{
    border-right: 1px solid #f2f4f6;
}
.b-b{
    border-bottom: 1px solid #f2f4f6;
}
.b-l{
    border-left: 1px solid #f2f4f6;
}
.b-turquoise {
    border-color:#00b393 !important;
}
.b-bold{
    border-width: 2px;
}
.b-water{
    border-color: rgba(255,255,255,0.2) !important;
}
.no-border{
    border:none !important;
}
.b-white{
    border-color: #fff !important;
}

/*font-size*/
.font-11{
    font-size: 11px !important;
}
.font-14{
    font-size: 14px !important;
}
.font-16{
    font-size: 16px !important;
}
.font-18{
    font-size: 18px !important;
}
.font-20{
    font-size: 20px !important;
}
.font-22{
    font-size: 22px !important;
}
.font-100p{
    font-size: 100% !important;
}

/*panel*/
.panel{
    border-radius: 0px;
    transition: all 1s;
    border: none;
}
.panel-default{
    border-color: #f2f4f6;
}
.panel-heading{
    border-radius: 0px;
}
.panel-default>.panel-heading{
    background-color: #fff;
    color: inherit;
    font-weight: bold;
    border-color: #eef6f9;
}

.panel-info>.panel-heading{
    background-color: #1ccacc;
    color: #fff;
    font-weight: bold;
    border-color: #1ccacc;
}

.panel-footer {
    background-color: #f2f4f6;
    border-top: 1px solid #fff;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}
.panel-primary{
    background-color:#4CAF50;
    color: #fff;
}

.panel-success {
    background-color:#000000;
    color: #fff;
}
.panel-info{
    background-color:#20C5CB;
    color: #fff; 
}
.panel-info .btn{
    color: #20C5CB;
}
.panel-sky{
    background-color:#000000;
    color: #fff; 
}
.panel-coral{
    background-color:#F06C71;
    color: #fff; 
}
.panel-coral .btn{
    color: #F06C71;
}
.no-boxshadow{
    box-shadow: none !important;
}


/*widget*/
.widget-icon{
    float: left;
    font-size: 80px;
    min-height: 80px;
    line-height: 35px;
    opacity: 0.5;
}
.widget-details{
    text-align: right;
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.cover-widget h1{
    margin: 0;
}
.cover-widget .b-t,
.cover-widget .b-r{
    border-color: rgba(0, 0, 0, 0.1);
}

/*bg*/
.bg-danger {
    background-color: #f05050;
    color: #fff;
}
.bg-white{
    background: #fff !important;
}
.bg-off-white {
    background:#f2f4f6;
}
.bg-info {
    background-color: #1ccacc;
    color: #bef5f6;
}
.bg-primary{
    background-color: #000000;
    color: #fff;
}
.bg-success{
    background: #000000;
    color: #fff;
}

.text-off{
    opacity: 0.6;
}
.white-link,
.white-link:hover{
    color: #fff;
}

.color-sky{
    color:#2FB6F0 !important;
}
.color-plum{
    color:#7266BA !important;
}

/*form*/
label{
    font-weight: normal;
}
.general-form .form-group:before,
.general-form .form-group:after {
    content: "";
    display: table;
    line-height: 0;
}
.general-form .form-group:after {
    clear: both;
}
.general-form textarea {
    height: 75px;
}
.general-form .select2 {
    width: 100%;
}
.general-form .mini {
    max-width: 200px;
}

.general-form .form-control {
    border-radius: 2px;
    border-color: #f6f8f9;
    background-color: #f6f8f9;
    box-shadow: none;
    transition: background 0.5s;
}

.general-form.white .form-control {
    border-color: #fff;
    background-color: #fff;
}
.general-form.white label {
    margin-top: 5px;
}
.general-form.white .select2-container .select2-choice{
    background-color: #fff !important;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label{
    box-shadow: none;
    color: #ec5855;
}
.general-form .has-error .form-control{
    box-shadow: none;
    color: #ec5855;
}
.general-form .form-control.white {
    background-color: #fff;
}
.general-form .form-control:focus,
.general-form .form-control.white:focus{
    border-color: #ebeff2;
    background-color: #ebeff2;
}
.general-form .input-group-addon{
    border-color: #f6f8f9;
    background: #f7f9fa;
    border-radius: 2px;
}
.form-control:focus{
    box-shadow: none;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.dashed-row .form-group{
    border-bottom: 1px dashed #e2e4e8;
    padding-bottom: 15px;
} 
.dashed-row .form-group:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.dashed-row .bd {
    border-bottom: 1px dotted #e2e4e8;
}
.select2-with-searchbox {
    padding-bottom: 5px;
}

/*x-editable*/
.editable-container .select2-container{
    min-width: 110px;
}

.editable-click, a.editable-click, a.editable-click:hover{
    border-bottom-color: transparent;
}

/*datatable*/
table.dataTable{
    border-collapse: collapse;
    box-sizing: border-box;
}

.dataTable td:hover{
    background: #f2f4f6;
}
.dataTable tbody tr:hover td{
    background:#f2f4f6 !important;
}

.dataTable.no-hover tr:hover td,
.dataTable.no-hover tbody tr:hover{
    background: transparent !important;
}

.dataTable tbody tr.active td,
.dataTable tbody tr.active:hover td{
    background: #00b393 !important;
    color: #fff !important;
    cursor: default;
}
.dataTable tbody tr.active .label{
    color: #00b393;
    background: #fff;
}
.dataTable tbody tr.active a.link{
    color: #fff;
}
.dataTable tbody tr:hover td{
    background:#f2f4f6;
}
table.dataTable thead th{
    border: 1px solid #f2f2f2;
    padding: 15px 10px;
}
table.dataTable thead td{
    border: 1px solid #f2f2f2;
    padding: 10px;
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd{
    background-color: #fff;
}
table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td,
table.dataTable.display tfoot th,
table.dataTable.display tfoot td{
    border: 1px solid #f2f2f2;
    background-color: #fff;
}
table.dataTable.no-footer{
    border-bottom: 1px solid #f2f2f2;
}
table.dataTable.b-b-only tbody th, 
table.dataTable.b-b-only tbody td{
    border:none;
    border-bottom: 1px solid #f2f2f2;
}
.datatable-tools {
    margin: 15px 0;
}
.datatable-export a{
    box-shadow: none !important;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 -1px;
    padding: 6px 10px;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px;
}
button.DTTT_button,
div.DTTT_button,
a.DTTT_button,
a.DTTT_button:focus{
    background: #fff;
    border-color: #e2e7f1 !important;
    text-decoration: none;
}
a.DTTT_button:hover{
    background: #f2f2f2;
}
div.DTTT_container{
    margin-bottom: 15px;
}
table.dataTable thead .sorting{
    background-image: none;
}
.dataTables_empty{
    padding: 15px 10px !important;
}
.dataTables_filter {
    margin: 0 0px 10px 10px;
}
.dataTables_filter input,
.datatable-search{
    border-radius: 2px;
    border:1px solid #e2e7f1;
    box-shadow: none;
    padding: 7px 10px;
    outline: none;
    font-weight: normal;
    background: url('../images/search.png') no-repeat 96% 45%; 
    width: 200px;
    transition: all 0.5s;
}
.dataTables_filter input:focus,
datatable-search:focus{
    border-color: #ebeff2;
    background-color: #ebeff2;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #fff !important;
    margin:0 0 0 -1px;
    border:1px solid #f2f2f2 !important;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus
{
    background: #f2f4f6 !important;
    border:1px solid #e2e7f1 !important;
    color: #414244 !important;
    outline: none;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #f1f1f5 !important;
    color: #000 !important;
    border-color: #e2e4e7 !important;
    cursor: default;

    border-radius: 0;
}
.dataTables_info{
    color: #c1c4c6 !important;
}
.dataTables_wrapper .dataTables_processing{
    height: 60px;
}
.datatable-tools .select2-container .select2-choice{
    background-color: #fff !important;
}
table.dataTable thead th:first-child,
table.dataTable tbody td:first-child{
    padding-left: 15px;
}

.no-thead thead{
    display: none;
}

td .progress {
    box-shadow:none !important;
    height: 8px;
    margin:10px 10px 10px 10px;
}
td:hover .progress{
    background-color: #fff;
}
table.dataTable tbody td.b-warning{
    border-left: 5px solid #f0ad4e !important;
}
table.dataTable tbody td.b-success{
    border-left: 5px solid #00B393 !important;
}
table.dataTable tbody td.b-primary{
    border-left: 5px solid #1672B9 !important;
}
table.dataTable.no-padding td{
    padding: 0;
}
.dataTable .label {
    display: inline-block;
    padding: 4px 5px;
    margin-bottom: 2px;
}


html.print-peview, 
html.print-peview body,
div.print-peview{
    overflow:auto !important;
    height: auto !important;
}
html.print-peview #content{
    margin-top: 0 !important;
}
@media print {
    .print-peview {
        color: #000;
    }
    a[href]:after {
        content: none !important;
    }
}

/*table*/
.table-responsive {
    width: 100%;
    max-width: 100%;
    border: none !important;
}
td.option a{
    cursor: pointer;
    min-width: 28px;
    background:#fff;
    color: #a1a3a5;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: central;
    text-align: center;
    margin: 0 5px;
    padding: 4px 0px;
    border:1px solid #e2e7f1;
}
td.option a:hover{
    background:#2ac2d4;
    color: #fff;
    border:1px solid #2ac2d4;
}
td.option a.delete:hover{
    background:#d9534f;
    color: #fff;
    border:1px solid #d9534f;
}

.table-responsive th:first-child,
.table-responsive td:first-child{
    border-left: none !important;
}
.table-responsive th:last-child,
.table-responsive td:last-child{
    border-right: none !important;
}

/*check box*/
.checkbox-blank{
    background: url('../images/checkbox.png') no-repeat  center center;
    width:20px;
    height:20px;
    margin: 0 15px 0 0;
    display: inline-block;
    float: left;
}
.checkbox-blank:hover{
    background-color: #fff;
}
.checkbox-checked{
    background: url('../images/check_mark.png') no-repeat  center center;
    width:20px;
    height:20px;
    margin: 0 15px 0 0;
    display: inline-block;
    float: left;
}
.checkbox-un-checked{
    background: url('../images/checkbox-un-checked.png') no-repeat  center center;
    width:20px;
    height:20px;
    margin: 0 15px 0 0;
    display: inline-block;
    float: left;
}
/*bootstrap modal*/

.modal-content {
    border-radius: 0px;
    border: 1px solid #aaa;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.modal-backdrop.in{
    filter: alpha(opacity=20);
    opacity: 0.2;
}
.modal-dialog {
    -webkit-transition:width 500ms ease;
    -moz-transition:width 500ms ease;
    -o-transition:width 500ms ease;
    transition:width 500ms ease;
}
.mini-modal {
    width: 300px !important;
}
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
    margin-right: 0px!important;
}
.modal-header{
    border-bottom: 1px solid #f6f8f9;
}
.modal-footer {
    border-top: 1px solid #f6f8f9;
    padding: 15px 30px;
}
.close{
    font-size: 25px;
    font-weight: normal;
}
.draggable {
    cursor: move;
}


/*bootstrap-timepicker*/
.bootstrap-timepicker-widget{
    z-index: 1050;
}

/*modal mask*/
.modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#fff;
}
.circle-done {
    margin:10px auto;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 5px rgba(220, 230, 235, 0.5);
    text-align: center;  
    font-size: 40px;
    padding: 10px;
    color: #25ccce;
}
.circle-done i{
    display: inline-block;
    max-width: 0%;
    overflow: hidden;

}
.circle-done.ok i{
    max-width: 80%;
    -webkit-transition:max-width 1000ms ease;
    -moz-transition:max-width 1000ms ease;
    -o-transition:max-width 1000ms ease;
    transition:max-width 1000ms ease;
}
/*social-link*/
.social-link{
    width:35px;
    height:35px;
    margin:0 10px 10px 0;
    padding:5px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #009688;
    border:2px solid #fff;
    transition:all 300ms ease;
}
.social-link:focus{
    color: #fff;
}
.social-link, 
.social-link:hover,
.social-link:active,
.social-link:focus{
    text-decoration: none;
}

.social-link:hover{
    color: #009688;
    background-color: #fff;
    box-shadow:0 0 0 2px #009688,0 0 0 2px #009688;
}

.bg-primary .social-link{
    background-color: #1672b9;
}
.bg-primary .social-link:hover{
    background-color: #fff;
    color: #1672b9;
    box-shadow:0 0 0 2px #1672b9,0 0 0 2px #1672b9;
}


/*alert*/
.alert {
    border: 0;
}
.alert .progress {
    background-color: transparent;
    box-shadow:none !important;
    height: 3px;
    border-radius: 0;
    margin:19px 0px -15px -15px;
}
.alert .progress-bar {
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.3);
}

.app-alert-message {
    display: inline-block;
    margin-right: 5px;
    max-width: 350px;
    min-width: 165px;
}

.app-alert.animate{
    bottom: 0;
    position: fixed;
    z-index: 100;
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.25;
    right: -350px;
}
.app-alert.alert-info {
    background-color:  #20c5cb;
    color: #fff;
}
.app-alert.alert-success {
    background-color:  #00b393;
    color: #fff;
}
.app-alert.alert-danger {
    background-color:  #f06c71;
    color: #fff;
}
.app-alert.alert-warning {
    background-color:  #f0ad4e;
    color: #fff;
}
.app-alert a{
    color: #444;
}
.alert-warning{
    background-color: #fff2cc;
}

/*progress-bar*/
.progress.thin {
    height: 3px;
}

/* widget */
.form-widget {
    margin-bottom: 25px
}
.widget-title{
    padding:10px 0px;
}
.form-widget .progress{
    height: 5px;
}

/*color tag*/
.color-tag {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin:2px 10px 0 0;
    transition:all 300ms ease;
}
.color-tag:hover{
    opacity: 0.7;
}

.color-tag.active {
    border-radius: 50%;
}

/*text-color*/
.text-danger{
    color: #d9534f;
}

.text-warning{
    color: #f0ad4e;
}


/*message*/
.message-row{
    padding: 8px 15px;
}
.message-row.unread {
    border-left: 3px solid #337ab7;
}
.message-row.unread strong,
.message-row.unread span{
    color: #337ab7;
}
.message-buttons .btn{
    border:1px solid #00B393;
    color: #00B393;
    margin-right: 10px;
}
.message-buttons .btn:hover{
    background-color: #00B393;
    color: #fff;
}

/*chart*/
.chart-circle canvas{
    border-radius: 50%;
    background: #fff;
}
.chart-circle .chart-label{
    position: absolute;
    z-index: 1;
    text-align: center;
}

/*tab*/

.nav-tabs{
    background: #f2f4f6; 
    border-bottom: 1px solid #f2f2f2;
}
.nav-tabs>li>a{
    padding: 15px;
    margin-right: 0;
    border-radius: 0;
    color: inherit;
}
.nav-tabs>li>a:hover{
    background: transparent;
    border-color: transparent;
    color: #009688
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
    border:none;
    color: #009688;
    background: transparent;
    border-bottom:2px solid #00b393;
    border-radius: 0;
}
.nav-tabs.classic{
    margin-bottom: 15px;
}
.nav-tabs.title li a{
    padding: 20px 15px;
}
.nav-tabs .tab-title .title-button-group{
    margin: 5px 10px;
}

.nav-tabs.vertical{
    background-color: transparent;
}
.nav-tabs.vertical li{
    float: none;
}
.nav-tabs>li:not(.title-tab):after {
    display: block;
    background-color: #00b393;
    content: "";
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    position: absolute;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.nav-tabs>li:not(.active):hover:after {
    width: 100%;
}

.tab-title {
    border-bottom: 1px solid #e5e9ec;
}
.tab-title h4 {
    margin: 2px 0 0 0;
    padding: 15px;
    float: left;
}
.tab-title .btn {
    margin: 7px 5px;
}
.tab-title .title-button-group {
    float: right;
    margin: 0 10px 0;

}

/*log*/
del {

}
ins {
    color: #00b393;
    text-decoration: none;
}

/*full calendar*/
.fc-button{
    border-radius: 2px !important;
    border-color:#e2e7f1 !important;
    background: #fff !important;
    height: auto !important;
    padding: 5px 10px !important;
}
.fc-button:focus{
    outline: none;
}
.fc-state-active{
    background-color: #f2f2f2 !important;
    box-shadow: none !important;
}
.fc-event {
    border-radius: 0 !important;
}
.fc-content{
    cursor: pointer;
}
.fc-time{
    display: none;
}
.fc-content{
    padding: 5px;
}
/*dropzone*/
.dropzone {
    border:1px dashed #ccc !important;
}
.dropzone.dz-drag-hover{
    background-color: rgba(0,0,0,0.02);
}
.dropzone .dz-image{
    background: #eee ;
    border-radius: 2px !important;
}
.dz-started {
    padding: 0!important;
}
.upload-thumbnail-sm{
    height: 80px;
    width: 80px;
    border: none !important;
    background: url('../images/filepreview.jpg') #eee no-repeat center center;
    outline: none;
}
.upload-progress-sm{
    height: 80px;
    width: 80px;
    height: 10px;
    border-radius: 0px;
}
#pre-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e5e9ec;
    z-index: 11000;
}


/*loader*/
.circle-loader {
    margin:10px auto;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px rgba(220, 230, 235, 0.5);
    border-top-color: #25ccce;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}
.app-loader {
    width: 70px;
    height: 70px;
    margin:30px auto;
    position:absolute;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    background: rgba(250, 250, 255, 0.6);
}
.app-loader .loading,
.table-loader .loading{
    width: 50px;
    height: 50px;
    border-radius:50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px rgba(0, 179, 147, 0.94);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    display: inline-block;
}
.form-group .app-loader{
    margin: -12px auto;
    width: 50px;
    height: 50px;
    left: 45%;
}
.form-group .app-loader .loading{
    width: 30px;
    height: 30px;
}
#pre-loader .app-loader{
    bottom: 50%;
    right: 53%;
}

.ani-width {
    transition:  width 50ms;
}

.ani-rotate-180:hover {
    transform: rotate(180deg); 
    transition:  all 300ms ease-out 0ms;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
    } 
} 

.inline-loader{
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent !important;
    transition: none;
}
.inline-loader:hover{
    color: transparent !important;
}

/*post dropzone*/
.post-dropzone{
    background: #fff;
}
.post-dropzone.dz-drag-hover{
    border: 1px dashed #337ab7;
}
.post-dropzone.dz-drag-hover *{
    opacity: 0.2;
}
.post-dropzone .preview:hover img{
    opacity: 0.2;
}
.post-dropzone .delete{
    width: 24px;
    height: 33px;
    margin-left: -27px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    position: relative;
    opacity: 0.8;
    display: inline-block;
    margin-top: -23px;
    text-align: center;
    line-height: 31px;
}
.post-dropzone .preview:hover img{
    opacity: 0.5;
}
.post-dropzone .preview:hover .delete{
    opacity: 1;
    background-color:#000;
}

/*note*/

.notepad{
    position:relative;
    background:-webkit-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    background:-moz-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    background:linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    -webkit-background-size:100% 30px;
    -moz-background-size:100% 30px;
    -ms-background-size:100% 30px;
    background-size:100% 30px;
    font-size: 100%;
    line-height: 30px !important;
}
.notepad:before{
    content:'';
    position:absolute;
    width:0px;
    top:0;
    bottom:0;
}
.notepad textarea{
    border:none;
    background-color:transparent;
    height:100%;
    line-height:30px;
    min-height:200px;
    padding: 0 10px;
}
.notepad-title{
    border: none !important;
    border-radius: 0!important;
    padding-left: 7px;
    border-left: 5px solid #1ccacc !important;
}

.notepad .select2-choices{
    border-color:transparent;
}

/*details list*/
.details-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.details-list li{
    padding: 5px;
}
.details-list li span{
    display: inline-block;
    min-width: 120px;
}

/*label*/
.label.large{
    font-size: 85%;
    font-weight: normal;
}

.label-light{
    background-color: #dde6e9;
    color: #4E5E6A;
}
.label-success{
    background-color: #00b393;
    color: #fff;
}

/*.dropdown-menu*/
.dropdown-menu{
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.05)
}
.dropdown-user .dropdown-menu{
    margin-right: 15px;
}
.dropdown-menu>li>a{
    padding: 7px 20px;
    color:#7988A2;
}
.comment-dropdown, .reply-dropdown{
    position: absolute;
    right: 30px;
    display: none;
    margin-top: -20px;
}
.comment-container:hover .comment-dropdown{
    display: block;
}
.reply-container:hover .reply-dropdown{
    display: block;
}

.dropdown-left{
    left: auto;
    right: 0;
}


/*datepicker*/
.datepicker.dropdown-menu {
    border-radius: 2px;
    border: 1px solid #d3d8dc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.datepicker table tr td,
.datepicker table tr th,
.datepicker table tr td span{
    border-radius: 0;
}

.week-view tr:hover .day:not(.active){
    background-color: #f2f4f6 !important;
}

.datepicker-custom-list{

}
.datepicker-custom-list .list-group-item{
    padding: 6px 15px;
    cursor: pointer !important;
    border: none !important;
}
.datepicker-custom-list .list-group-item:not(.active):hover{
    background-color: #f5f5f5;
}
.datepicker-custom-selector{
    background: #fff;
    border-color: #f2f4f6;
}

/*timepicker*/
.bootstrap-timepicker-widget table td input{
    display: inline-block;
}

/*note-editor*/
.note-editor,
.note-editor .note-toolbar,
.note-editor .note-statusbar .note-resizebar,
.note-toolbar .btn
{
    border-color:#e2e7f1 !important;
}


.permission-list{
    margin: 0;
    padding: 0 15px;
}
.permission-list li{
    margin-bottom:  15px;
    border-bottom: 1px solid #eef6f9;
    list-style-type: none;
}
.permission-list> li:before {
    content: '\f084';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #444 ;
}

.animated-clock {
    width: 45px;
    background: url('../images/clock.gif') no-repeat 50% 50%; 
}

.mCS-minimal-dark .mCSB_dragger .mCSB_dragger_bar{
    opacity: 0.5 !important;
}
.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical,
.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical
{
    margin-right: -2px;
}
#sidebar .mCSB_2_scrollbar {
    margin-right: -6px;
}

/* magnificPopup */
.mfp-counter {
    top: 6px  !important;
    cursor: auto;
    right: 10px !important;
}
.mfp-bg{
    z-index: 1052 !important;
}
.mfp-wrap{
    z-index: 1053 !important;
}
.full-width-mfp-content{
    max-width: none !important;
}
/*crop-box*/
.crop-box {
    position: relative;
    height: 400px;
    width: 100%;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    cursor:move;
}
.crop-box .thumb-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.crop-box .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}

/*timeline*/
#timeline {
    list-style:none;
    width:100%;
    min-height: 100%;
    margin:0 auto;
    position: relative;
    overflow:hidden;
}

#timeline:before {
    background: #f2f4f6;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    z-index: 0;
    top: 0;
    margin-left: -5px;
    width: 10px;
    border-radius: 5px;

}
#timeline .post-content {
    display:block;
    width:50%;
    position:relative;
    padding-top:40px;
}
#timeline   .post-content:nth-child(odd) {
    float:left;
    clear:left;
    padding-right:20px;
}
#timeline .post-content:nth-child(even) {
    float:right;
    clear:right;
    padding-left:20px;
}
#timeline .post-content:nth-child(2n) {
    margin-top:10px;
}
#timeline  .post-content>.post> .media{
    background:#fff;
    padding: 15px;
}
#timeline  .post-content .media{
    background:#fff; 
}

#timeline .post-content .post-date span{
    background:#00b393; 
    color:#fff;
    padding: 3px 10px 5px;
    border-radius: 25px;
}
#timeline  .post-content .post-date:before{
    background:#f2f4f6;
    content: "";
    left: -20px;
    top:10px;
    position: relative;
    width: 20px;
    height: 2px;  
}

#timeline  .post-content:nth-child(odd) .post-date {
    text-align: right;
}
#timeline  .post-content:nth-child(odd) .post-date:before{
    background:#f2f4f6;
    content: "";
    margin-right: -40px;
    top:10px;
    position: relative;
    width: 20px;
    height: 2px; 
    float: right;
}

.media p, .media div {
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.comment-file p{
    max-width: 270px;
}

.timeline-images img{
    width:100%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.timeline-images img:hover{
    -webkit-filter: grayscale(100%);
}
.timeline-images span.more{
    padding: 5px 5px;
    background-color: #000;
    color: #fff;
    margin-top: 0px;
    position: absolute;
    margin-left: -80px;
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left:5px solid #4cc5cd;
}

@media screen and (max-width: 1400px) {
    /* Timeline */
    #timeline:before {
        left: 0px;
        margin-left: 0;
        margin-top: 45px;
    }
    #timeline  .post-content {
        float:left;
        width:100%;
        padding:0 0 0 30px !important;
        margin:0 0 20px !important;
    }
    #timeline > .post-content:first-child {
        padding-top: 60px !important;
    }

    #timeline  .post-content:nth-child(odd) .post-date {
        text-align: left;
    }
    #timeline  .post-content:nth-child(odd) .post-date:before{
        left: -20px;
        top:8px;
        width: 20px;
        height: 2px;  
        float:left;
    }
}

.comment-image-box{
    width: 400px;
}

/* fs modal*/
.app-modal{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    z-index: 5000;   
    animation: slidedown 300ms;
    -webkit-animation: slidedown 300ms;
}
.app-modal-fixed-close-button {
    position: absolute;
    z-index: 1;
    right: 20px;
    background: #fff;
}

@keyframes slidedown {
    from {top: -100%;}
    to {top: 0;}
}

@-webkit-keyframes slidedown { 
    from {top: -100%;}
    to {top: 0;}
} 
.app-modal-body{
    margin:1% 1% 2%;
    width: 98%;
    height: 97%;
    background-color: #fff;
    display: table;
    table-layout: fixed;
    border-spacing: 0;
}
.app-modal-close{
    font-size: 20px;
    text-align: right;
    padding: 0 7px;
    cursor: pointer;
}
.app-modal-content{
    display: table-cell;
    vertical-align: central;
    height: 100%;
    text-align: center;
}
.app-modal-sidebar{
    width: 350px;
    border-left: 1px solid #f2f2f2;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}
.app-modal-content .app-modal-content-area{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.app-modal-content img{
    max-width: 100%;
    max-height: 100%;
}

.app-modal.full-content .app-modal-sidebar{
    display: none;
}

.app-modal .compress, 
.app-modal .expand{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
    color: #000;
    z-index: 1;
    background-color: rgba(255,255,255,0.5)
}

.app-modal .compress:hover, 
.app-modal .expand:hover{
    background-color: rgba(0,0,0,0.2);
}

.app-modal .compress{
    display: none;
}

.app-modal.full-content .expand{
    display: none;
}
.app-modal.full-content .compress{
    display: block;
}
.app-modal .expand{
    display: block;
    right: 370px !important;
}

.app-modal.loading .app-modal-sidebar{
    border-color: #fff;
}
.app-modal.loading .expand{
    display:  none;
}

/* milestone */
.milestone{
    width: 100px;
    text-align: center;
    border:1px solid #dde6e9; 
    padding-bottom: 5px;
}
.milestone .label{
    width: 100%;
    display: inherit;
    padding: 10px 0;
    font-size: 13px;
    border-radius: 0
}
.milestone h1{
    margin: 0;
}

/*flot*/
.flotTip {
    padding: 5px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}
.legendColorBox{
    padding: 5px;
}
.legendColorBox > div{
    border: none !important;
}

/*sticky note*/
.sticky-note{
    outline: none;  height: 267px; padding: 5px;
    border: none;
    color: #000;
    font-size: 110%;
    background: rgb(255, 246, 179);
    width: 100%;
}

/*notification*/
.list-group-item{
    border: 1px solid rgba(221, 221, 221, 0.41) !important;
}
.unread-notification{
    background-color:#edeff5 !important;

}

/*estimate form*/
#estimate-form-editable .sortable-ghost td {
    border-top: 2px dashed #7988a2 !important;
    border-bottom: 2px dashed #7988a2 !important;
}
#estimate-form-editable .sortable-ghost td *{
    opacity: 0;
}
#estimate-form-preview table.dataTable.b-b-only tbody td {
    border: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

.star-btn{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #F9A52D;
}
.starred-icon{

    font-size: 14px;
}
.list-container .b-b:last-child{
    border-bottom:none; 
}
.box-title{
    position: relative;
    margin: -15px 15px 10px;
    text-align: center;
    font-weight: 700;
}
.box-title span{
    display: inline-block;
    position: relative;
    z-index: 11;
    background: #FFF;
    padding: 0 12px;

}
.box-title:after{
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 10;
    background-color: #f2f4f6;;
}
.invoice-styles .item{
    border: 5px solid #f2f4f6;   
    float: left;
    margin:0 15px 15px 0;
    transition: 300ms all;
    opacity: .5;
}

.invoice-styles .active,
.invoice-styles .item:hover{
    opacity: 1;
    cursor: pointer;
    opacity: 1;
}
.invoice-styles .active:before {
    position: absolute;
    content: '\f058';
    display: inline-block;
    font-family: 'FontAwesome';
    color: #7988a2;
    font-size: 30px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    margin-top: 72px;
    margin-left: 100px;
}

#notificaion-popup-list{
    max-height: 400px;
    overflow-y: scroll;
}


.help-page-container{
    padding-top: 50px;
}

.help-search-box-container{
    max-width: 600px;
    margin: 30px auto 60px;
    text-align: center;
}

.help-search-box-container h2{
    margin: 20px 0;
}
.help-category-box{
    cursor: pointer;
    text-align: center;
    color: #4e5e6a;
    transition: all 0.5s;
}
.help-category-box .anchor{
    color:#29689e;
    text-transform: lowercase;
}

.help-category-box:hover{
    cursor: pointer;
    background: #f2f2f2;
}

#help-search-box{
    background: url(../images/search.png) no-repeat 15px 50% #fff;
    padding: 15px 15px 15px 40px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: none;
    transition: background 0.5s;
}
#help-search-box:focus{
    background-color: #f6f8f9;;
    border: 1px solid #dbe3e8;
}
#help-search-box.searching{
    background-image: url('../images/loader.gif') !important;
}
#help-left-panel{
    min-height: 350px;
}
#help-page-content{
    padding: 20px 30px;
}



.view-container{
    max-width: 1060px;
    margin: auto;
}
.view-container-large{
    max-width: 1200px;
    margin: auto;
}

.help-catagory.list-group .list-group-item{
    border-radius: 0 !important;
    border:none !important;
    background: transparent;
    color: #4e5e6a;
}

.help-catagory.list-group .list-group-item:hover,
.help-catagory.list-group .list-group-item.active{
    border-left: 2px solid #4e5e6a !important;
    text-indent: -2px;
    background: rgba(0, 0, 0, 0.02);
}


.public-navbar{
    font-weight: bold;
}



.awesomplete{
    display: block;
}
.awesomplete ul{
    z-index: 10;
    text-align: left;
    background: #fff;
}
.awesomplete mark,
.awesomplete li[aria-selected="true"] mark,
.awesomplete li:hover mark{
    background: transparent;
    padding: 0;
}
.awesomplete > ul > li{
    padding: 5px 8px;
}
.awesomplete > ul > li[aria-selected="true"]{
    background: #337ab7;
}
.awesomplete > ul > li[aria-selected="false"]:hover{
    background: #f2f2f2;
}


.note-group-select-from-files{
    display: none !important;
}




@media (max-width: 767px){
    /*mobile view menu*/
    #sidebar, #sidebar.collapsed{
        opacity: 0;
        width:0px;
    }

    .off-screen #sidebar,
    .off-screen #sidebar.collapsed{
        padding-top: 7px !important;
        display:table-cell;
        width: 75%;
        opacity: 1;
    }
    .off-screen #page-container{
        display: inline-table;
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
        max-height: none !important;
    }

    .signin-box{
        width: 90%;
    }
    .box-content.avatar{
        display: none;
    }
    #page-content{
        padding: 10px !important;
    }
    .message-buttons .btn{
        margin-bottom: 10px;
    }
    .modal-body{
        padding: 0;    
    }
    .modal-footer{
        padding: 15px;
    }
    #help-left-panel{
        min-height: 0;
    }

}

@media screen and (max-width: 300px) {
    .navbar-brand {
        width: 160px;
    }
    .navbar-brand img{
        max-width: 160px;
    }


    #notificaion-popup-list{
        max-height: 400px; 
        overflow-y: scroll;
    }



}